@use '/app/_styles/globals/abstracts';

.form {
  @include abstracts.z1-elevation;
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: abstracts.$background-color;
  border-radius: 1rem;

  .title {
    @include abstracts.h5-font;
    margin: 2rem 0;
    text-align: center;
  }
}
